extends layout

block content
  h1= comic.title
  div#comic.row
    div.collum
      div.pane
        img.paneImage(src=panes[0].imageSource)
      div.comment=panes[0].comment
    div.collum
      div.pane
        img.paneImage(src=panes[1].imageSource)
      div.comment=panes[1].comment
    div.collum
      div.pane
        img.paneImage(src=panes[2].imageSource)
      div.comment=panes[2].comment
  form(action='/telecomics/'+comic._id+'/send' method='post')
    label(for='recipients') Recipents:
    p Enter one e-mail per line
    p
      textarea(name='recipients' id='recipients')
    button(type='submit') SEND