extends layout

block content
  h1= comic.title
  div.collum
    button.btn#original(type='button') Show Original
  div.collum
    if currentUser
      a(href='/') Back Home
  div.collum
    button.btn#languages(type='button') Show Translation Path
  div#comic.row
    div.collum
      div.pane
        img.paneImage(src=panes[0].imageSource)
      div.comment.blurb=blurbs[0]
      div.original.comment(style="display:none")= panes[0].comment
    div.collum
      div.pane
        img.paneImage(src=panes[1].imageSource)
      div.comment.blurb=blurbs[1]
      div.original.comment(style="display:none")= panes[1].comment
    div.collum
      div.pane
        img.paneImage(src=panes[2].imageSource)
      div.comment.blurb=blurbs[2]
      div.original.comment(style="display:none")= panes[2].comment
    div.collum
      div.language(style="display:none")
        ol
          each language in languages[0]
            li= language
    div.collum
      div.language(style="display:none")
        ul
          each language in languages[1]
            li.languageStuff= language
    div.collum
      div.language(style="display:none")
        ul
          each language in languages[2]
            li= language
  a.twitter-hashtag-button(href='https://twitter.com/intent/tweet?button_hashtag=TeleComics&text=Checkout%20My%20New%20TeleComic%20at%20https://protected-waters-5312.herokuapp.com/telecomics/' + comic._id + "/public", data-size='large', data-related='this_is_yR') Tweet #TeleComics
  script.
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
