extends ../layout

block content
  if(!currentUser)
    h1 TeleComics
    h4 Create three panel comics with silly comments and translate them through five different languages before sending them to your friends! 
    a(href="/teleComics/signup") Signup
    each comic in comics
      h2= comic.title
      a(href="/telecomics/"+comic._id)
        div#comic.row
          div.collum
            div.pane
              img.paneImage(src=comic.panes[0].imageSource)
            div.comment=comic.blurbs[0]
          div.collum
            div.pane
              img.paneImage(src=comic.panes[1].imageSource)
            div.comment=comic.blurbs[1]
          div.collum
            div.pane
              img.paneImage(src=comic.panes[2].imageSource)
            div.comment=comic.blurbs[2]
  
  if(currentUser)
    h1 Your Sent Telecomics
      each comic in comics
        h2= comic.title
        a(href="/telecomics/"+comic._id)
          div#comic.row
            div.collum
              div.pane
                img.paneImage(src=comic.panes[0].imageSource)
              div.comment=comic.blurbs[0]
            div.collum
              div.pane
                img.paneImage(src=comic.panes[1].imageSource)
              div.comment=comic.blurbs[1]
            div.collum
              div.pane
                img.paneImage(src=comic.panes[2].imageSource)
              div.comment=comic.blurbs[2]
