extends ../layout

block content
  if(!currentUser)
    h1 
      img.logo(src='/images/telecomicslogo.png' alt='logo')
    h4
      | Welcome to TeleComics!
    h4 A TeleComic is a three panel comic with captions that have been
      | run through several random language translators and then back to English.  You don't get to see the translations before sending,
      | just like a game of telephone.
    if statement
      li
        ul= statement
        ul
          a(href='/telecomics/password/reset') Reset Pasword
    if message
      li
        ul=message
        ul
          a(href='/telecomics/password/reset') Reset Pasword
    a(href="/teleComics/signup") Signup
    each comic in comics
      h2= comic.title
      a(href="/telecomics/"+comic._id+"/public")
        div#comic.row
          div.collum
            div.pane
              img.paneImage(src=comic.panes[0].imageSource)
            div.comment=comic.blurbs[0]
          div.collum
            div.pane
              img.paneImage(src=comic.panes[1].imageSource)
            div.comment=comic.blurbs[1]
          div.collum
            div.pane
              img.paneImage(src=comic.panes[2].imageSource)
            div.comment=comic.blurbs[2]
  
  if(currentUser)
    h1 Your Sent Telecomics
      each comic in comics
        h2= comic.title
        a(href="/telecomics/"+comic._id)
          div#comic.row
            div.collum
              div.pane
                img.paneImage(src=comic.panes[0].imageSource)
              div.comment=comic.blurbs[0]
            div.collum
              div.pane
                img.paneImage(src=comic.panes[1].imageSource)
              div.comment=comic.blurbs[1]
            div.collum
              div.pane
                img.paneImage(src=comic.panes[2].imageSource)
              div.comment=comic.blurbs[2]
